.certs {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    flex-wrap: wrap;
}

.cert {
    width: 200px;
    height: 200px;
    min-width: 150px;
    min-height: 150px;
    overflow: hidden;
    border-radius: 1rem;
    padding: 0.5rem;
    transition-property: all;
    transition: ease-in-out 300ms;
}

.cert:hover {
    scale: 1.1;
    background-color: rgba(93, 0, 252, 0.538);
}

.icons {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    flex-wrap: wrap;
}

.icons > * {
    width: 80px;
    height: 80px;
    min-width: 65px;
    min-height: 65px;
    padding: 0.5rem;
    transition-property: all;
    transition: ease-in-out 300ms;
    border-radius: 1rem;
}

.icons > *:hover {
    scale: 1.15;
    background-color: rgba(93, 0, 252, 0.538);
}
