body, html {
  display: flex;
  background-color: #222;
  color: white;
  min-width: 300px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: 'IBM Plex Mono', monospace;
}

body > * {
  text-align: center;
}

.sky {
  background: linear-gradient(
    to bottom,
     #06020600,
     #5a156480 40%,
     #5803c0b6 70%,
     #28018a);
  padding-bottom: .25rem;
  position: relative;
  z-index:1;
}

.land {
  position:relative;
  background-color: black;
  z-index:4;
  padding: 1rem 0rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
