body, html {
  display: flex;
  background-color: black;
  color: white;
  min-width: 300px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: 'IBM Plex Mono', monospace;
  text-shadow: black .25rem .25rem 3px;
}

body > * {
  text-align: center;
}

.sky {
  width: 100vw;
  background: linear-gradient(
    to bottom,
     #06020600,
     #5a156480 40%,
     #5803c0b6 70%,
     #28018a);
  padding-bottom: .25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  z-index:1;
}

.sky::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
     #FFb42A,
     #FB9739 40%,
     #Ea6B20 70%,
     #D8682C);
  height: 100%;
  width:100%;
  z-index: -1;
  transition: ease-in-out 1000ms opacity;
}

.land {
  position:relative;
  background-color: black;
  z-index:4;
  padding: 1rem 0rem;
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: block;
}

.stars {
  background:#ffffff00 url(/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(/twinkling.png) repeat top center;
  z-index:0;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
